<body>
      <!--sidebar start-->
       <%= render "partials/menu" %>
      <!--sidebar end-->



   <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

<%= link_to "Ver Pacientes", controller: "paciente", action: "mostrar_pacientes" %>
| <%= link_to 'Editar deberia ir?', edit_cuestionario_impedimento_path(@cuestionario_impedimento) %>
<table>
  <tr>
    <th>Cedula</th>
    <th></th>
   
    <th colspan="2"></th>
    
  </tr>
  <tr>
	<td><%= @cuestionario_impedimento.paciente_id %></td>
	 <td>|</td>

  </tr>
 </table>
<div class="container">
<h1> Resultados encotrados en el paciente de cedula: <%= @cuestionario_impedimento.paciente_id  %> </h1>
 
 <h2><center><%= @evaluacion1 %></center></h2>
 <h2><center><%= @evaluacion2 %></center></h2>
  <h2><center><%= @evaluacion3 %></center></h2>
   <h2><center><%= @evaluacion4 %></center></h2>
    <h2><center><%= @evaluacion5 %></center></h2>
     <h2><center><%= @evaluacion6 %></center></h2>
      <h2><center><%= @evaluacion7 %></center></h2>
      <h2><center><%= @evaluacion8 %></center></h2>

 
  </div>
  </section>
  </section>