<%= render "partials/head_dashboard" %>

  <div class="col-lg-11">
    <h1 class="page-header">
      <%= @accionUsuario %> <small>Registrar <%= @accionUsuario%></small>
    </h1>
  </div>

          <%= form_for :usuario, :url=> { :action => :create } do |f| %>

          <% if @usuario.errors.any? %>
            <div id="errorExplanation">
              <h2><%= pluralize(@usuario.errors.count, "error") %> Un error evito que su registro fuera exitoso:</h2>
              <ul>
              <% @usuario.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
            <% end %>

          <div class="form-group">
            <label class="col-md-4 control-label" for="usuario">Nombre</label>  
            <div class="col-md-5">
           
             <%= f.text_field :nombre ,class:"form-control input-md", required:"", placeholder:"nombre" %> 
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="usuario">Apellido</label>  
            <div class="col-md-5">
             <%= f.text_field :apellido ,class:"form-control input-md", required:"", placeholder:"apellido" %> 
              
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="usuario">Correo</label>  
            <div class="col-md-5">
              <%= f.text_field :correo ,class:"form-control input-md", required:"", placeholder:"correo" %> 
              
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="usuario">Telefono</label>  
            <div class="col-md-5">
             <%= f.text_field :telefono ,class:"form-control input-md", required:"", placeholder:"telefono" %> 
              
            </div>
          </div>





          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="usuario">Contrase単a</label>  
            <div class="col-md-5">
            <%= f.password_field :password ,class:"form-control input-md", required:"", placeholder:"contrase単a"%>
              
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="usuario">Repita la Contrase単a</label>  
            <div class="col-md-5">
            <%= f.password_field :password_confirmation ,class:"form-control input-md", required:"", placeholder:"repita la contrase単a"%>
              
            </div>
          </div>


          <div class="form-group rol">
            <label class="col-md-4 control-label" for="usuario">Rol</label>
            <div class="col-md-5">
             <%= f.text_field :rol,class:"form-control",:readonly => true ,placeholder: "psicologo",:value => "2"%>
            
            </div>
          </div>



          <!--<div class="form-group">-->

            <label class="col-md-4 control-label" for="registrar"></label>
            <div class="col-md-4 reset">
              <button id="registrar" name="registrar" class="btn btn-success">Registrar</button>
              <%= button_tag "Cancelar", type: :reset ,class:"btn btn-primary boton"%>
            </div>
          </div>

          <% end %>

          <!--   Fin  Formulario     -->

<%= render "partials/bottom_dashboard" %>